<ion-view title="Login">
    <div class="bar bar-footer bar-dark">
        <h1 class="title">My Other Memory</h1>
    </div>
    <ion-content class="has-subheader">
        <div class="bar bar-header bar-light">
            <h1 class="title">Want to get something done? Let's get started</h1>
        </div>
        <div class="bar bar-subheader">
            <button class="button button-block button-assertive" ng-click="login()">Sign in with Google</button>
        </div>
    </ion-content>
</ion-view>
